<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!-- 配置上下文参数 -->
    <context-param>
        <param-name>view-prefix</param-name>
        <!--/代表webapp根目录-->
        <param-value>/</param-value>
    </context-param>
    <context-param>
        <param-name>view-suffix</param-name>
        <param-value>.html</param-value>
    </context-param>

    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>com.example.javaweb.servlets.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
  <servlet>
        <servlet-name>TestServlet02 </servlet-name>
        <servlet-class>com.example.javaweb.servlets.TestServlet02</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet02</servlet-name>
        <url-pattern>/test02</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestServlet03 </servlet-name>
        <servlet-class>com.example.javaweb.servlets.TestServlet03</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet03</servlet-name>
        <url-pattern>/test03</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestServlet04 </servlet-name>
        <servlet-class>com.example.javaweb.servlets.TestServlet04</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet04</servlet-name>
        <url-pattern>/test04</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestServlet05 </servlet-name>
        <servlet-class>com.example.javaweb.servlets.TestServlet05</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet05</servlet-name>
        <url-pattern>/test05</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestServlet06 </servlet-name>
        <servlet-class>com.example.javaweb.servlets.TestServlet06</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet06</servlet-name>
        <url-pattern>/test06</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestServlet07</servlet-name>
        <servlet-class>com.example.javaweb.servlets.TestServlet07</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet07</servlet-name>
        <url-pattern>/test07</url-pattern>
    </servlet-mapping>
    <!--
    1.用户发请求 action=add
    2.项目中, web.xml中找到url-pattern = / add ->第12行
    3.找第11行的servlet-name = Addservlet
    4.找和servlet-mapping中servlet-name一致的servlet找到第7行
    5.找第8行的servlet-class -> com.atguigu.servlets.AddServlet
    6.用户发送的是post请求(method=post),因此 tomcat会执行Addservlet中的doPost方法
    -->
</web-app>